.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    color: rgba(0, 0, 0, 0.45);
    color: black;
    background-color: #febd69;
    width: 3.5vw;
}
.anticon svg {
    display: inline-block;
    color: black;
}

.ant-btn-icon-only.ant-btn-lg > * {
    font-size: 28px;
}
.ant-input-group-addon:first-child {
    border-bottom-left-radius: 7px;
    border-right: 0;
    border-top-left-radius: 7px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    color: rgba(0, 0, 0, 0.45);
    /* border-bottom-left-radius: 22px; */
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    left: -1px;
    padding: 0;
    border: 0;
    border-bottom-right-radius: 7px;
    /* border-top-left-radius: 37px; */
    border-top-right-radius: 7px;
}